.imgs{
  padding:2%;
  background: burlywood;
  text-align: center;
  border: black 2px solid;
  
}
/* 
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */